---
import { SITE_URL } from '../../config';
import PageLayout from '@/layouts/PageLayout.astro';
import BlogMeta from '@/components/shared/BlogMeta.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog');
    return blogEntries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const ogImageAbsoluteUrl =
    entry.data.external !== true && entry.data.ogImagePath
        ? new URL(entry.data.ogImagePath, SITE_URL).toString()
        : undefined;

const formattedDate = new Date(entry.data.date).toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
});
---

<PageLayout>
    <BlogMeta
        title={entry.data.title}
        description={entry.data.external ? undefined : entry.data.description}
        publishDate={entry.data.date.toISOString()}
        pagePath={`/blog/${entry.slug}`}
        ogImageAbsoluteUrl={ogImageAbsoluteUrl}
        slot='meta'
    />
    <section class='blog-post prose max-w-none prose-richie' slot='main'>
        <h1 class='m-0 mb-[0.25em]'>
            <span
                class="pl-6 relative block leading-[150%]
              after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-green">
                {entry.data.title}
            </span>
        </h1>
        <time class='block mb-[2em] text-text-muted'>{formattedDate}</time>
        <Content slot='main' />
    </section>
</PageLayout>
